<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2 mt-4">Reservations Report</h1>
  </div>
  <label for="date">Show report for </label>
  <% if (date) {%>
      <input type="date" id="date" name="date" value="<%= date %>">
      <br>
      <br>
<% for(var i=0; i<organizations.length; i++) {%>
  <h4 id="<%= organizations[i].name %>"><%= organizations[i].name %></h4>
      <% for(var y=0; y<organizations[i].chambers.length; y++) {%>
        <% if (organizations[i].chambers[y].reservations != undefined) {%>
          <h5 id="<%= organizations[i].chambers[y].name %>"><%= organizations[i].chambers[y].name %></h5>
              <% for(var z=0; z<organizations[i].chambers[y].reservations.length; z++) {%>
                <% if(organizations[i].chambers[y].reservations[z].date == date && organizations[i].chambers[y].reservations[z].members.length >0) {%>
                  <div class="table-responsive"></div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Reservation Time</th>
                <th>Reservation User</th>
                <th >Action</th>
              </tr>
            </thead>
            <tbody>
              <% for(var x=0; x<organizations[i].chambers[y].reservations[z].members.length; x++) { %>
              <br>
                <tr>
                  <td><%= organizations[i].chambers[y].reservations[z].time %></td>
                  <td style="min-width: 200px;">
                      <%= organizations[i].chambers[y].reservations[z].members[x]%>
                  </td>
                  <td><button class="btn btn-primary" onclick="openForm('removeUser', '<%= organizations[i]._id %>','<%= organizations[i].chambers[y]._id %>', '<%= organizations[i].chambers[y].reservations[z]._id %>', '<%= organizations[i].chambers[y].reservations[z].members[x] %>')"><i class="fas fa-solid fa-trash"></i></button></td>
                  </tr>
                  <% } %>
                  <button class="btn btn-primary" onclick="openForm('sendEmail', '<%= organizations[i].name %>','<%= organizations[i].chambers[y].name %>', '<%= date %>', '<%= organizations[i].chambers[y].reservations[z].members %>')">Send Emails</button>
                  <button class="btn btn-primary" style="margin-left: 10px;" onclick="openForm('removeUser', '<%= organizations[i]._id %>','<%= organizations[i].chambers[y]._id %>', '<%= organizations[i].chambers[y].reservations[z]._id %>', '<%= organizations[i].chambers[y].reservations[z].members %>')">Cancel Reservation</button>
                  <button class="btn btn-primary" style="margin-left: 10px;" onclick="openForm('copySch', '<%= organizations[i]._id %>','<%= organizations[i].chambers[y]._id %>', '<%= organizations[i].chambers[y].reservations[z]._id %>')">Copy Reservation</button>
                  <% } %>
              <% } %>
            </tbody>
          </thead>
        </table>
        <% } %>
      <% } %>
    <% } %>
  <% } %>
  <% if (!date) {%>
      <input type="date" id="date" name="date">
  <% } %>
  <% if (organizations.length < 1) { %>
    <h4 style="color: grey;">You don't have organizations yet!</h4>
  <% } %>
</main>
<script src="/js/date.js"></script>