<<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 mt-4">Schedule chambers</h1>
  </div>
  <label for="date">Schedule reservations for </label>
  <% if (date) { %>
    <input type="date" id="date" name="date" value="<%= date %>">
    <br>
    <br>
    <% for(var i=0; i<organizations.length; i++) { %>
      <h4 id="<%= organizations[i].name %>"><%= organizations[i].name %></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Chamber name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(var y=0; y<organizations[i].chambers.length; y++) { %>
            <tr>
              <th scope="row"><%= organizations[i].chambers[y].name %></th>
              <% members = []; if (organizations[i].chambers[y].members) { %>
                <% for (const [key, value] of Object.entries(organizations[i].chambers[y].members)) { %>
                  <% key == date ? members.push(...value) : '' %>
                <% } %>
              <% } %>
              <td>
                <button class="btn btn-primary" onclick="openForm('updateChamberMembers','<%= organizations[i]._id%>','<%= organizations[i].chambers[y]._id%>', '<%= date %>', '<%= members %>' )"><i class="fas fa-solid fa-wrench"></i></button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
  <% } %>
  <% if (!date) { %>
    <input type="date" id="date" name="date">
  <% } %>
  <% if (organizations.length < 1) { %>
    <h4 style="color: grey;">You don't have organizations yet!</h4>
  <% } %>
</main>
<script src="/js/date.js"></script>